<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Person</title>
</head>
<body>

<!-- использууем теги Thymeleaf
  method - указывает какой метод мы используем для отправки данных/ обратить внимание на синтаксис,
  @ - используется всегда для ссылок
  * - используется при обращении к полям объекта
  action - на какой адрес будет эта форма обращаться (куда будет передавать свои данные
  object - какой объект мы передаем в GetMapping и для какого объекта у нас будет создана форма)
  -->
<form th:method="POST" th:action="@{/people}" th:object="${person}">
    <!--  указываем поле, которое есть у нашего объекта person/ обратить внимание на синтаксис  -->
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{person_name}" id="name">
    <p style="color: red" th:if="${#fields.hasErrors('person_name')}" th:errors="*{person_name}">Name error</p>
    <br/>
    <label for="surname">Enter surname: </label>
    <input type="text" th:field="*{surname}" id="surname">
    <p style="color: red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname error</p>
    <br/>
    <label for="age">Enter age: </label>
    <input type="text" th:field="*{age}" id="age">
    <p style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</p>
    <br/>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email">
    <p style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</p>
    <br/>
    <label for="email">Enter address: </label>
    <input type="text" th:field="*{address}" id="address">
    <p style="color: red" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Address error</p>
    <br/>
    <input type="submit" value="Create">
</form>

</body>
</html>