<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>

<!--Thymeleaf будет подставлять полученные значения динамически вместо VALUE
VALUE - можно не писать (показано для наглядности)-->

<p th:text="${person.getSurname()}">VALUE</p>
<a th:text="${person.getPersonName()}">VALUE</a>
<p th:text="${person.getAge()}">VALUE</p>
<p th:text="${person.getEmail()}">VALUE</p>
<p th:text="${person.getAddress()}">Value</p>
<p th:text="${person.getId()}">VALUE</p>

<hr/>
<p><b>Список покупок:</b></p>
<tr th:each="item : ${person.getItems()}">
    <p th:text="${item.getItemName()}"></p>
</tr>
<hr/>

<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete">
</form>
</body>
</html>